<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Checkerboard</title>
    <style>
        td{
            width:70px;
            height:70px;
        }
        .color1{
            background-color: blue;
        }
        .color2{
            background-color: red;
        }
    </style>
</head>
<body>
    <table>
        {% for i in range(4): %}
        <tr>
            {% for j in range(4): %}
                <td class="color1"></td>
                <td class="color2"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for j in range(4): %}
                <td class="color2"></td>
                <td class="color1"></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>